/*For current-semester.html */

.nav a {
    display: block;
    margin-bottom: 5px;
}
.dropdown{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.scheduleDropdownButton{
    background-color: #007BFF; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: space-between;
}

.caret{
    margin-left: 5px;
    font-size: 16px;
    transform: transform 0.7s ease;
}
.caret.rotate{
    transform: rotate(180deg);
}

.scheduleDropdownContent{
    display: none; /* Hidden by default */
    position: relative; 
    background-color: transparent; 
    min-width: 200px;
    /*box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);*/
    padding: 10px;
    z-index: 1; 
    border-radius: 5px;
}

.scheduleDropdownContent.active{
    display: block;
}

.scheduleDropdownContent{
    margin: 0;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.scheduleDropdownContent p:hover{
    background-color: #e2e6ea;
}